# PYTHON KA CHILLA 
## HOW TO USE JUPYTER NOTEBOK
### BASICS OF PYTHON
**01- PROGRAM**

In [3]:
print(2+5)
print("hello world")
print("we are learning python with Aammar")

7
hello world
we are learning python with Aammar

**02- OPPERATORS**

In [4]:
print(10-8)
print(2+3)
print(2*8)
print(13%2)
print(2**3)

print(2**4/4+5-13*2)

2
5
16
1
8
-17.0

*PEMDAS*
*Prenthsis exponents multiplication divide Addition Sustraction
left to right sequence M & D, A & S*

**03- STRINGS**

In [5]:
print('Hello World')
print('we are learning python with Ammar')
print("test for double quotes")
print('test for single quotes')
print('''test for tripple quotes''')

print("what's up")

Hello World
we are learning python with Ammar
test for double quotes
test for single quotes
test for tripple quotes
what's up

**04- COMMENTS**

In [7]:
# print('how are you')
# print('we are learning python with Aammar')
# print(2+4)

how are you
we are learning python with Aammar
6

**05- VARIABLES**

In [8]:
#Varibale: Objects containing Specific Values
x = 5  # numeric or integer variable
print(x)
y = "we are laerning Python with Aammar" # string variable
print(y)

x= x+15  # or x=20
print(x)

# Type or class of variables
type(x)
print(type(x))
print(type(y))

# print, type, Class

#Rules to assign variables
# 1- variable should contain letters, numbers or underscoors
# 2- Do not start with numbers
# 3- Spaces are not allowed
# 4- Do not use keyword used in functions (break, mean, median, test etc...)
# 5- Short and descriptive
# 6- case senstivity(lowercase upper case use lower case)

fruit_baskit= 8
fruit_baskit= "Mangoes"
print(fruit_baskit)
print(type(fruit_baskit))

5
we are laerning Python with Aammar
20
<class 'int'>
<class 'str'>
Mangoes
<class 'str'>

**06- INPUT VARIABLES**

In [9]:
fruit_baskit= "Mangoe"
print(fruit_baskit)

#input faunction
fruit_baskit= input("which is your favourite fruit? ")
print(fruit_baskit)

#input function of second stage
name=input("what is your name? ")
greetings="Heelo"
print(greetings, name)

# another way of stage 2 pf imput function
name=input("what is your name? ")
print("hello!", name)

# 3rd stage of input function
name= input("what is your name? ")
age= input('how old are you? ')
greetings="Hello!"
print(greetings, name, ",you are stil young")

Mangoe
which is your favourite fruit? MANGOE
MANGOE
what is your name? ARSLAN
Heelo ARSLAN
what is your name? ARSLAN
hello! ARSLAN
what is your name? ARSLAN
how old are you? 18
Hello! ARSLAN ,you are stil young

**07- CONDITIONAL LOGICS**

In [10]:
# logical perators are either "true are false" or "yes or no" or "0 or 1"
# equal to                            ==
# not equal to                         !=
# less Than                           <
# greater than                         >
# less than or equal to               <=
# greater than or equal to            >=





print (4==4)
print (4<3)
print (5>6)
print(6<=8)
print (2==7)
print("hello world")

#  aaplication of logical opperators



arslan_age=4
age_at_school=5
print(arslan_age==age_at_school)

# input function and logical operator
age_at_school=5
arslan_age=input("how old is arslan?" )
print(type(arslan_age))
print(arslan_age==age_at_school)

arslan_age=4
age_at_school= 5
print(arslan_age==age_at_school)

True
False
False
True
False
hello world
False
how old is arslan?4
<class 'str'>
False
False

**08- TYPE CONVERSION**

In [11]:
x=10        #integer
y=10.2      #float
z="hello"   #string
#implocit version
x=x+y 
print (x, "type of x is:",   type(x))

#explict type version
age=input("what is your age? ")
# age=int(age)
print(type (float(age)))

#name
name=input("what is your name? ")
print(name, type(str (name)))

20.2 type of x is: <class 'float'>
what is your age? 21
<class 'float'>
what is your name? ARSLAN
ARSLAN <class 'str'>

**09-IF,ELSE & ELIF**

In [12]:
required_age_at_school=5
arslan_age=2
if required_age_at_school==arslan_age:
    print('arslan can join the school')
elif arslan_age > required_age_at_school:
    print ("arslan should join higher classes")
elif arslan_age== 2:
    print("you should take care of arslan, he is still baby.")
else:
     print("arslan can't go to scholl")

you should take care of arslan, he is still baby.

**10- FUNCTIONS**

In [13]:
# defining a function
def print_codanics():
    print("we are learning python with Aammar")
    print("we are laerning python with Aammar")
    print("we are learning python with Aammar")

# print_codanics()

# 2 
def print_codanics():
    text = "we are learning python"
    print(text)
    print(text)
    print(text)
print_codanics()

# 3
def print_codanics(text):
    print(text)
    print(text)
    print(text)
print_codanics("we learning python with Aammar")    

# defining a function if, elif and else statments
def school_calculator(age):
    if age==5:
        print("Arslan should go to school.")
    elif age>5:
        print("Arslan should join higer classes")
    else:
        print("Arslan is still a babay")

# school_calculator(5)     


# defining a function of future 
from ast import Return


def future_age(age):
    new_age=age+20
    print(new_age)

future_pridectid_age=future_age(18)
print(future_pridectid_age)

we are learning python
we are learning python
we are learning python
we learning python with Aammar
we learning python with Aammar
we learning python with Aammar
38
None

**11-LOOPS**

In [14]:
# While and for loops

# WHILE LOOP
x=0
while x<=5:
    print(x)
    x=x+1

# FOR LOOP
for x in range (4,10):
    print(x)

# array
days= ("mon","tue","wed","thu","fri","sat","sun")
for d in days:
    if (d=="fri"):break
    if (d=="fri"):continue
    print(d)

0
1
2
3
4
5
4
5
6
7
8
9
mon
tue
wed
thu

**12- IMPORT LIBRARIES**

In [15]:
# if you wat to print the value of pi
from cmath import pi
import math
print("The value of pi is", math. pi)

import statistics
x = [150,230,350]
print(statistics. mean(x))

#numpy and pandas

The value of pi is 3.141592653589793
243.33333333333334

**13- TROUBLE SHOOTING**

In [16]:
#print(we are learning python with Aammae)   syntax error

# print(25/0)   run time error

name="Arslan"
print("hello", name)

hello Arslan